{% extends 'base.html' %}

{% block main %}
<div class="md:grid md:grid-cols-2 md:gap-6" style="height: 600px">
    <div class="md:col-span-2 mx-auto my-auto">
        <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="shadow sm:rounded-md sm:overflow-hidden">
                <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                    <div>
                        <label for="body" class="block text-sm font-medium text-gray-700"> Post Body </label>
                        <div class="mt-1">
                            {{ form.body }}
                        </div>
                    </div>
                </div>

                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Post
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}