<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-cyan-400">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <a href="{% url 'top' %}">
                    <div class="flex-shrink-0 flex items-center">
                        <h1 class="text-white text-2xl">Gamers</h1>
                    </div>
                </a>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a href="{% url 'news' %}"
                           class="text-gray-600 hover:bg-sky-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">News</a>
                        <a href="{% url 'user_list' %}"
                           class="text-gray-600 hover:bg-sky-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Users</a>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'post_list' %}"
                           class="text-gray-600 hover:bg-sky-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Posts</a>
                        <a href="{% url 'new_post' %}"
                           class="text-gray-600 hover:bg-sky-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">New
                            Post</a>
                        <a href="{% url 'logout' %}"
                           class="text-gray-600 hover:bg-sky-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
                        {% else %}
                        <a href="{% url 'sign_up' %}"
                           class="text-gray-600 hover:bg-sky-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">SignUp</a>
                        <a href="{% url 'login' %}"
                           class="text-gray-600 hover:bg-sky-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <button type="button"
                        class="bg-cyan-500 p-1 rounded-full text-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                    <span class="sr-only">View notifications</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                    </svg>
                </button>

                <div class="ml-3 relative">
                    <div>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'user_detail' request.user.id %}"
                           class="outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 hover:ring-white"
                           id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            {% if user.img %}
                            <img class="h-8 w-8 object-cover object-top rounded-full"
                                 src="{{ request.user.img.url }}"
                                 alt="">
                            {% endif %}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sm:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
               aria-current="page">Dashboard</a>

            <a href="#"
               class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>

            <a href="#"
               class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>

            <a href="#"
               class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
        </div>
    </div>
</nav>
