<div class="mx-auto min-h-full mt-32 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <form class="w-3/12" method="post">{% csrf_token %}
            {% for field in form %}
        <div class="flex">
        <label class="">{{ field.label_tag }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Update"
               class="mt-5 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    </form>
</div>