<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>gamers</title>
</head>
<body>
    <div class="text-center m-5">
      <div class="bg-yellow-400 p-5 inline-block rounded">
        <div class="text-3xl font-bold">DjangoでTailwindCSSを使用する方法</div>
      </div>
    </div>
</body>
</html>